/* Light Theme Variables */
:root {

  --color-primary: 56 112 230;
  --color-on-primary: 255 255 255;
  --color-bg: 227 231 238; /* neutral-150 (tinted with primary) */
  --color-surface-1: 234 238 246; /* neutral-100 (tinted with primary) */
  --color-surface-2: 239 243 250; /* neutral-50 (tinted with primary) */
  --color-surface-hover-1: 219 223 230; /* neutral-200 (tinted with primary) */
  --color-surface-hover-2: 227 231 238; /* neutral-150 (tinted with primary) */
  --color-text: 38 38 38; /* neutral-800 */
  --color-headline: 10 10 10; /* neutral-950 */
  --color-muted: 115 115 115; /* neutral-500 */
  --color-border: 155 159 166; /* neutral-400 (tinted with primary) */
  --color-divider: 179 182 189; /* neutral-350 (tinted with primary) */
  --color-success: 0 166 62; /* green-600 */
  --color-warning: 225 113 0; /* amber-600 */
  --color-error: 231 0 11; /* red-600 */
  --color-info: 0 132 209; /* sky-600 */
}
/* -----------------------------------------------------------
   Light Theme Custom Scrollbar
   ----------------------------------------------------------- */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--color-muted) / 0.2) transparent;
}
.scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px 0;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(var(--color-muted) / 0.2);
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: padding-box;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgb(var(--color-muted) / 0.3);
  background-clip: padding-box;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-muted) / 0.4);
  background-clip: padding-box;
}
.scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
